@charset 'utf8';

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 441px;
}

.chat {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.chat-head {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    min-height: 30px;
    width: 100%;
    z-index: 10;
    text-indent: 2rem;
    font-size: large;
    color: rgb(65, 65, 65);
    box-shadow: 0px 1px 2px 1px rgba(77, 77, 77, 0.116);
    background-color: rgb(220, 208, 252);
}

.chat-frame {
    display: flex;
    justify-content: space-around;
}

.frame-middle {
    z-index: 9;
    height: 93vh;
    width: 2px;
    background-color: gainsboro;
}

.chat-list {
    position: relative;
    z-index: 1;
    height: 93vh;
    min-width: 100px;
    background-color: rgb(250, 250, 250);
}

.chat-content-frame {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.chat-data-frame {
    z-index: 0;
    width: 100%;
    position: relative;
    /* right: 0; */
    right: -300%;
    transition: all 0.6s ease;
}

.friends-frame {
    height: 93vh;
    list-style: none;
    overflow-y: scroll;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.friends-frame::-webkit-scrollbar,
.chat-data::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 0;
}

.friends-list {
    margin-left: 5px;
    z-index: 9;
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid rgb(243, 243, 243);
    height: 70px;
    cursor: pointer;
    list-style: none;
    color: #000000;
    /*border-radius: 3px;
    */
    /*background-color: rgb(226, 226, 226);
    */
    width: 97%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.friends-list img {
    margin-left: 10%;
    margin-right: 5%;
}

.friends-list:hover {
    /* background-color: rgb(240, 240, 240); */
    box-shadow: 0px 3px 3px 1px gainsboro;
    z-index: 50;
    /* border-left: #8d8d8d 3px solid; */
    /* color: rgb(255, 255, 255); */
}

.friends-list:hover .unread-tip {
    box-shadow: 0px 3px 3px 1px gainsboro;
}


.user-speak,
.peer-speak {
    display: flex;
    align-items: flex-start;
    padding: 20px 10px;
    line-height: 30px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

/* 
            .peer-speak {
                align-self: flex-start;
            } */

.user-speak {
    /* direction: rtl; */
    justify-content: flex-end;
}

.user-speak .user-chat-bubble {
    background-color: rgb(176, 177, 247);
    box-shadow: -1px -1px 5px 2px rgb(231, 231, 231);
}

.user-speak .user-chat-bubble::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border: 5px solid transparent;
    right: -10px;
    top: 7px;
    border-left-color: rgb(176, 177, 247);
}

.peer-speak .user-chat-bubble::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border: 5px solid transparent;
    left: -10px;
    top: 7px;
    border-right-color: rgb(248, 198, 248);
    /* background-color: plum; */
}

.user-chat-bubble {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    text-align: left;
    color: rgb(56, 56, 56);
    padding-right: 20px;
    max-width: 70%;
    padding: 10px;
    padding-left: 15px;
    margin: 0 10px;
    border-radius: 3px;
    background-color: rgb(248, 198, 248);
    box-shadow: 1px 1px 5px 2px rgb(231, 231, 231);
}

.user-chat-bubble article {

    width: 100%;
    overflow: hidden;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.search {
    padding: 10px 15px;
    position: relative;
}

.search>.search-input {
    color: rgb(87, 87, 87);
    border: gainsboro 1px solid;
    line-height: 17px;
    padding: 3px 30px 3px 8px;
    width: 100%;
    appearance: none;
    background: none;
    outline: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.search>.search-input:focus {
    border: darkgray 1px solid;
}

.search .icon {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    right: 18px;
    top: 13px;
    padding-right: 10px;
    padding-left: 3px;
}

.search i {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid darkgray;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.search i::before {
    content: '';
    position: absolute;
    top: 11px;
    right: 8px;
    width: 2px;
    height: 8px;
    background-color: darkgray;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}


body {
    transition: all 0.5 ease;
}

/* 
            .search {
                position: relative;
            }


            .search::after  {
                content: 'x';
                width: 0;
                height: 0;
                position: absolute;
                width: 10px;
                height: 10px;
            } */

/* #region wait dot */
@keyframes waiting {
    0% {
        left: 0;
        background-color: rgba(0, 0, 0, 0);
    }

    20% {

        left: 0;
        background-color: rgba(0, 0, 0, 0);
    }

    35% {
        left: 50%;
        background-color: purple;
    }


    65% {

        background-color: purple;
        left: 50%;
    }

    80% {

        left: 100%;
        background-color: rgba(0, 0, 0, 0);
    }


    100% {
        left: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
}

.bar {
    width: 90%;
    height: 100%;
    /* background-color: rgba(224, 167, 167, 0.37); */
}

.bar>div {

    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    display: inline-block;
    transition: 1s linear;
}

.dot1 {

    animation: waiting 3.5s ease 1s infinite;
}

.dot2 {

    animation: waiting 3.5s ease .8s infinite;
}

.dot3 {

    animation: waiting 3.5s ease 0.6s infinite;
}

.dot4 {

    animation: waiting 3.5s ease .4s infinite;
}

.dot5 {

    animation: waiting 3.5s ease .2s infinite;
}

@keyframes move {
    0% {
        left: 0;
    }

    /* 10%{
    left: 0;
} */
    100% {
        left: 50%;
    }
}

.tips {
    margin: 0;
    margin-top: 20%;
    font-size: 3vw;
    font-family: 楷体;
    text-align: center;
}

.move {
    z-index: 999;
    position: absolute;
    display: inline-block;
    width: 60%;
    /* background-color: rgb(189, 220, 248); */
    animation: move 3.5s 0.9s linear infinite;
    -webkit-animation: move 3.5s 0.9s linear infinite;
}

/* #endregion */

.historytip,
.historyloading {
    position: relative;
    text-align: center;
    font-size: 12px;
    color: gray;
    margin: 5px auto;
}

.historytip {}

.historyloading {}

@keyframes rotate {
    form {

        transform: rotate(0);
    }

    to {

        transform: rotate(360deg);
    }
}

.sending,
.resend {
    color: rgb(156, 156, 156);
    padding-top: 10px;
}

.historyloading::after,
.sending::before {
    content: ' ';
    width: 10px;
    height: 10px;
    display: inline-block;
    border: gray solid 1px;
    border-right-color: gainsboro;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 3s 0s linear;
    animation: rotate 1s linear 0ms infinite;
    -webkit-animation: rotate linear 1s 0ms infinite;
}

.resend {
    cursor: pointer;
}

.sending::before {
    margin-right: 5px;
    width: 20px;
    vertical-align: middle;
    height: 20px;

}

.unread-tip {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 3vw;
    /*font-size: 18px;
    */
    background-color: rgb(250, 80, 80);
    /* box-shadow: 0 0 3px 1px rgb(230, 200, 200); */
    vertical-align: middle;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
}

.chat-textbox {
    display: flex;
    justify-content: center;
    position: relative;
}

.chat-data {
    width: 100%;
    height: 68vh;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

.chat-tool {
    height: 40px;
    width: 100%;
    background-color: rgb(196, 193, 197);
}

.chat-write {
    width: 99.78%;
    height: calc(25vh - 42px);
    text-align: left;
    overflow-y: auto;
    outline-style: none;
    word-wrap: break-word;
    appearance: none;
    border-top: 1px solid transparent;
    resize: none;
}

.chat-write:focus {
    border-top: 1px solid rgb(223, 223, 177);
}

.chat-text-send-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    bottom: 20px;
    height: 40px;
    width: 20%;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 3px 5px 1px gainsboro;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all linear 150ms;
    -webkit-transition: all linear 150ms;
    -moz-transition: all linear 150ms;
    -ms-transition: all linear 150ms;
    -o-transition: all linear 150ms;
}

.chat-text-send-button:hover {
    cursor: pointer;
    right: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 3px 5px 3px gainsboro;
}

.enter-empty {
    display: none;
    /* width: 150px; */
    position: absolute;
    padding: 10px;
    box-shadow: 1px 2px 5px 1px gainsboro;
    top: 0;
    text-decoration: none;
}