@charset 'utf8';

* {
    margin: 0;
    padding: 0;
}

.chat {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.chat-head {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    width: 100%;
    text-indent: 2rem;
    font-size: large;
    color: rgb(238, 223, 252);
    background-color: rgb(192, 124, 255);
}

.chat-frame {
    display: flex;
    justify-content: space-around;
}

.frame-middle {
    z-index: 9;
    width: 3px;
    background-color: gainsboro;
}

.chat-list {
    z-index: 1;
    height: 90vh;
    width: 300px;
}

.chat-content-frame {
    height: 65vh;
    width: 100%;
}

.chat-data-frame {
    z-index: 0;
    position: relative;
    /* right: 0; */
    right: -300%;
    transition: all 0.6s ease;
}

.friends-frame {
    height: 93vh;
    list-style: none;
    overflow-y: scroll;
}

.friends-frame::-webkit-scrollbar,
.chat-data::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 0;
}

.friends-list {
    z-index: 9;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(243, 243, 243);
    height: 80px;
    cursor: pointer;
    list-style: none;
    /* border-radius: 3px; */
    /* background-color: rgb(226, 226, 226); */
    width: 100%;
    transition: all 0.5s ease;
}

.friends-list img {
    margin-left: 10%;
}

.friends-list:hover {
    background-color: rgb(193, 212, 131);
    color: rgb(255, 255, 255);
}

.chat-data {
    width: 100%;
    height: 68vh;
    background-color: rgb(255, 255, 255);
    overflow: auto;

}

.chat-tool {
    height: 40px;
    width: 100%;
    background-color: rgb(196, 193, 197);
}

.chat-write {
    width: 99.78%;
    height: calc(25vh - 42px);
    text-align: left;
    resize: none;
}

.user-speak,
.peer-speak {
    display: flex;
    align-items: flex-start;
    padding: 20px 10px;
    line-height: 30px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

/* 
            .peer-speak {
                align-self: flex-start;
            } */

.user-speak {
    /* direction: rtl; */
    justify-content: flex-end;
}

.user-speak .user-chat-bubble {
    background-color: rgb(104, 106, 199);
}

.user-speak .user-chat-bubble::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border: 5px solid transparent;
    right: -10px;
    top: 7px;
    border-left-color: rgb(104, 106, 199);
}

.peer-speak .user-chat-bubble::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border: 5px solid transparent;
    left: -10px;
    top: 7px;
    border-right-color: rgb(173, 15, 173);
    /* background-color: plum; */
}

.user-chat-bubble {
    position: relative;
    display: inline-block;
    text-align: left;
    color: white;
    padding-right: 20px;
    max-width: 70%;
    padding: 10px;
    padding-left: 15px;
    margin: 0 10px;
    border-radius: 3px;
    background-color: rgb(173, 15, 173);
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

body {
    overflow: auto;
    transition: all 0.5 ease;
    ;
}

/* 
            .search {
                position: relative;
            }


            .search::after  {
                content: 'x';
                width: 0;
                height: 0;
                position: absolute;
                width: 10px;
                height: 10px;
            } */

/* #region wait dot */
@keyframes waiting {
    0% {
        left: 0;
        background-color: rgba(0, 0, 0, 0);
    }

    20% {

        left: 0;
        background-color: rgba(0, 0, 0, 0);
    }

    35% {
        left: 50%;
        background-color: purple;
    }


    65% {

        background-color: purple;
        left: 50%;
    }

    80% {

        left: 100%;
        background-color: rgba(0, 0, 0, 0);
    }


    100% {
        left: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
}

.bar {
    width: 90%;
    height: 100%;
    /* background-color: rgba(224, 167, 167, 0.37); */
}

.bar>div {

    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    display: inline-block;
    transition: 1s linear;
}

.dot1 {

    animation: waiting 3.5s ease 1s infinite;
}

.dot2 {

    animation: waiting 3.5s ease .8s infinite;
}

.dot3 {

    animation: waiting 3.5s ease 0.6s infinite;
}

.dot4 {

    animation: waiting 3.5s ease .4s infinite;
}

.dot5 {

    animation: waiting 3.5s ease .2s infinite;
}

@keyframes move {
    from {
        left: 0;
    }

    to {
        left: 20%;
    }
}

.tips {
    margin: 0;
    margin-top: 20%;
    font-size: 3vw;
    font-family: 楷体;
    text-align: center;
}

.move {
    z-index: 999;
    position: absolute;
    display: inline-block;
    width: 78%;
    /* background-color: rgb(189, 220, 248); */
    animation: move 3.5s 0.9s infinite;
    -webkit-animation: move 3.5s 0.8s infinite;
}

/* #endregion */
.historytip,
.historyloading {
    position: relative;
    text-align: center;
    font-size: 12px;
    color: gray;
    margin: 5px auto;
}

.historytip {}

.historyloading {}

@keyframes rotate {
    form {

        transform: rotate(0);
    }

    to {

        transform: rotate(360deg);
    }
}

.sending,
.resend {
    color: rgb(156, 156, 156);
    padding-top: 10px;
}

.historyloading::after,
.sending::before {
    content: ' ';
    width: 10px;
    height: 10px;
    display: inline-block;
    border: gray solid 1px;
    border-right-color: gainsboro;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 3s 0s linear;
    animation: rotate 1s linear 0ms infinite;
    -webkit-animation: rotate 1s 0ms infinite;
}

.sending::before {
    margin-right: 10px;
    width: 20px;
    height: 20px;

}